In [1]:
income_by_months = [['Jan', 13000], ['Feb', 10000]]

In [2]:
print(income_by_months[-2])

['Jan', 13000]

In [3]:
# получить второй элемент второго списка (и так для любого уровня вложенности)
print(income_by_months[-2][1])

13000

In [4]:
print(income_by_months[0:2])

[['Jan', 13000], ['Feb', 10000]]

In [5]:
print(type(income_by_months))

<class 'list'>

In [6]:
# изменение списков
income_by_months[0][1] = 13100
print(income_by_months)

income_by_months[0:2] = [['Nov', 13200], ['Feb', 13900]]
print(income_by_months)

income_by_months_2 = [['Nov', 15400]]
income_by_month = income_by_months + income_by_months_2
print(income_by_month)

[['Jan', 13100], ['Feb', 10000]]
[['Nov', 13200], ['Feb', 13900]]
[['Nov', 13200], ['Feb', 13900], ['Nov', 15400]]

In [7]:
# how many Megabytes in x bytes
x = int(input('Enter number of bytes: '))
x = x * (10**-6)
print(x)

Enter number of bytes: 15000
0.015

In [8]:
# how many Megabytes in x bytes
x = int(input('Enter number of bytes: '))
x = x / (1024**2)
print(x)

Enter number of bytes: 15000
0.01430511474609375

In [24]:
# how many Megabytes in x bytes
x = int(input('Enter number of bytes: '))
x = x / (2**20)
print(x)

Enter number of bytes: 15000
0.01430511474609375

In [25]:
byte_number = 15000
x = byte_number * 1e-6
print(x)

0.015

In [33]:
# сравнение чисел
x1 = 10
x2 = 300
x3 = 2000

if x1 > x2 and x1 > x3:
    print('x1 is the largest')
elif x2 > x1 and x2 > x3:
    print('x2 is the largest')
else:
    print('x3 is the largest')

x3 is the largest

In [35]:
# сложный вариант сравнения чисел
a = 10
b = 300
c = 2000

x = a if a > b else b if b > c else c if c > a else a
print(x)

2000

In [36]:
# камень/ножницы/бумага

In [6]:
my_list = ['John', 'James', 'Mary', 'John', 'David', 'Mary']

In [11]:
res = []

for i in my_list:
    if i not in res:
        res.append(i)

print(res)

['John', 'James', 'Mary', 'David']

In [18]:
unique = []
repeat = []

for i in my_list:
    if i not in unique:
        unique.append(i)
    else:
        repeat.append(i)
    
print(unique)
print(repeat)

['John', 'James', 'Mary', 'David']
['John', 'Mary']

In [25]:
res_2 = []

for i in my_list:
    if i not in res_2 and my_list.count(i) > 1:
        res_2.append(i)

print(res_2)

['John', 'Mary']

In [15]:
# Методы изменяемых и неизменяемых объектов

l = ['John', 'James', 'Mary', 'John', 'David', 'Mary']


l.sort() # меняет исходный список
new = sorted(l) # исходный список не меняет

# Методы изменяемых объектов (списков) оперируют с исходным объектом, 
# а методы неизменяемых объектов (строк) оперируют с новым объектом.

print(l.sort())
print(l)
print(new)

None
['David', 'James', 'John', 'John', 'Mary', 'Mary']
['David', 'James', 'John', 'John', 'Mary', 'Mary']

In [32]:
# сумма элементов диагонали

data = [
    [13, 25, 23, 34],
    [45, 32, 44, 47],
    [12, 33, 23, 95],
    [13, 53, 34, 35]
]

# option 1
total = 0
index = 0
for i in data:
    l = data[index][index]
    total = total + l
    index += 1

print(total)

# option 2
j = 0
total = 0

for n in data:
    total += n[j]
    j += 1

print(total)

103
103

In [35]:
# сумма элементов обратной диагонали матрицы

data = [
    [13, 25, 23, 34],
    [45, 32, 44, 47],
    [12, 33, 23, 95],
    [13, 53, 34, 35]
]

j = -1
total = 0

for n in data:
    total += n[j]
    j -= 1

print(total)

124

In [47]:
# Найти слова, в которых больше пяти букв

text = 'Python - высокоуровненый язык программирования, ориентированный на повышение производительности разработчика и читаемости кода'

text = text.split(' ')

index = 0
for i in text:
    text[index] = text[index].strip(',')
    
    if i == '-':
        continue

    if len(text[index]) > 5:
        print(text[index])
    
    index += 1

Python
высокоуровненый
программирования
ориентированный
повышение
производительности
разработчика
читаемости

In [117]:
prof = ['IT', 'Физика', 'Математика']
persons = [['Gates', 'Jobs', 'Voznyak'], ['Einistein', 'Feinman'], ['Euclidus', 'Newton']]

index = 0
for i in prof:
    print(i + ':')
    
    for j in persons[index]:
        print(j)

    print()
    index += 1

IT:
Gates
Jobs
Voznyak

Физика:
Einistein
Feinman

Математика:
Euclidus
Newton

In [118]:
prof = ['IT', 'Физика', 'Математика']
persons = [['Gates', 'Jobs', 'Voznyak'], ['Einistein', 'Feinman'], ['Euclidus', 'Newton']]

for pro, names in zip(prof, persons):
    print(f'{pro}:')
    for name in names:
          print(name)
    print()

IT:
Gates
Jobs
Voznyak

Физика:
Einistein
Feinman

Математика:
Euclidus
Newton

In [120]:
# Преобразование элементов списка в строку

prof = ['IT', 'Физика', 'Математика']
persons = [['Gates', 'Jobs', 'Voznyak'], ['Einistein', 'Feinman'], ['Euclidus', 'Newton']]

for pro, names in zip(prof, persons):
    print(f'{pro}:')
    print('\n'.join(names), '\n')

IT:
Gates
Jobs
Voznyak

Физика:
Einistein
Feinman

Математика:
Euclidus
Newton

In [14]:
# Нарисовать представленный шаблон

i = 1
for i in range(10):
    for j in range(i):
        print(i, end = '')
    print()

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [9]:
num = 1
while num < 10:
    # при умножении строки на число n, строка повторяется n раз
    print(str(num) * num)
    num += 1

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [15]:
for i in range(10):
    print(str(i) * i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [18]:
# разглаживание списка (сделать из вложенных списков один большой список)

my_list = [['Екатеринбург', 'Москва'], ['Санкт-Петербург', 'Норильск'], ['Пермь', 'Астрахань']]

res = []
for i in my_list:
    for j in i:
        res.append(j)

print(res)

['Екатеринбург', 'Москва', 'Санкт-Петербург', 'Норильск', 'Пермь', 'Астрахань']

In [30]:
my_list = [['Екатеринбург', 'Москва'], ['Санкт-Петербург', 'Норильск'], ['Пермь', 'Астрахань']]

# нужно начать складывать с пустого списка, а не со встроенного нуля
print(sum(my_list, []))

# ниже мы начинаем с my_list и добавляем пустые списки
print(sum([], my_list))

['Екатеринбург', 'Москва', 'Санкт-Петербург', 'Норильск', 'Пермь', 'Астрахань']
[['Екатеринбург', 'Москва'], ['Санкт-Петербург', 'Норильск'], ['Пермь', 'Астрахань']]