# Домашнее задание «Библиотека Pandas»

In [2]:
import pandas as pd

## Задание 1

In [3]:
ratings = pd.read_csv(r'C:\Users\dmvma\Downloads\ml-latest\ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1      307     3.5  1256677221
1       1      481     3.5  1256677456
2       1     1091     1.5  1256677471
3       1     1257     4.5  1256677460
4       1     1449     4.5  1256677264

In [37]:
five_rated = ratings[ratings.rating == 5.0]
five_rated.groupby('movieId').count().sort_values('rating', ascending = False).head()

         userId  rating  timestamp
movieId
318       48762   48762      48762
296       37458   37458      37458
356       32009   32009      32009
260       31385   31385      31385
593       30280   30280      30280

In [38]:
movies = pd.read_csv(r'C:\Users\dmvma\Downloads\ml-latest\movies.csv')
movies[movies.movieId == 318]

     movieId                             title       genres
315      318  Shawshank Redemption, The (1994)  Crime|Drama

## Задание 2

In [78]:
power = pd.read_csv(r'lecture_notebooks\power.csv')

In [79]:
power_f = power[(power.quantity >= 0) & (power.year >= 2010) & (power.year <= 2010) & ((power.category == 4) | (power.category == 12) | (power.category == 21))]
power_f.head()

        country  year  quantity  category
9838  Swaziland  2010      0.18         4
9855   Colombia  2010      2.35         4
9862     Canada  2010     32.00         4
9876   Colombia  2010      1.41         4
9882   Colombia  2010     10.73         4

In [77]:
power_B = power_f[(power_f.country == 'Latvia') | (power_f.country == 'Lithuania') | (power_f.country == 'Estonia')]
power_B['quantity'].sum()

38861.0

## Задание 3

In [93]:
df = pd.read_html('https://www.tinkoff.ru/invest/bonds/')[0]
df.head()

,Название,Доходность,Дата,Цена
0,ГГарант-Инвест БО 001P-05RU000A1005T9,"14,89%",05 апреля 2024через 4 года,"927,36 ₽"
1,ККарМани выпуск 2RU000A0ZZ1F6,"14,62%",10 июня 2022через 2 года,"1 031,4 ₽"
2,ФФлай Плэнинг БО-П3RU000A101178,"14,3%",10 ноября 2022через 2 года,1 015 ₽
3,ФФлай Плэнинг БО-П2RU000A100K64,"14,15%",06 июля 2022через 2 года,"1 021,7 ₽"
4,ППервое коллекторское бюро выпуск 1RU000A0JWWG0,"14,07%",15 октября 2021через год,"504,3 ₽"