### Домашнее задание «Функции и работа с данными»

In [1]:
import pandas as pd

#### Задание 1

In [2]:
ratings = pd.read_csv(r'C:\Users\dmvma\Downloads\ml-latest-small\ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [6]:
def film_class(row):
    if row['rating'] <= 2:
        return 'Low'
    elif 2 < row['rating'] <= 4:
        return 'Medium'
    elif row['rating'] == 4.5 or row['rating'] == 5.0:
        return 'High'

In [10]:
ratings['class'] = ratings.apply(film_class, axis = 1)
ratings.head()

   userId  movieId  rating   timestamp   class
0       1       31     2.5  1260759144  Medium
1       1     1029     3.0  1260759179  Medium
2       1     1061     3.0  1260759182  Medium
3       1     1129     2.0  1260759185     Low
4       1     1172     4.0  1260759205  Medium

#### Задание 2

In [72]:
keywords = pd.read_csv('lecture_notebooks\keywords.csv')
keywords.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [73]:
def geo_class(row):
    
    geo_data = {
        'Центр': ['москва', 'тула', 'ярославль'],
        'Северо-Запад': ['петербург', 'псков', 'мурманск'],
        'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
    }
    
    for k, v in geo_data.items():
        if any(word in row['keyword'] for word in v):
            return k
    return 'undefined'

In [97]:
keywords['region'] = keywords.apply(geo_class, axis = 1)
# keywords.head()

# checking results
keywords[(keywords.region != 'Северо-Запад') & (keywords.region != 'undefined')].head(10)

                       keyword   shows          region
127               авито москва  979292           Центр
849            авито ярославль  209581           Центр
1063       фарпост владивосток  176951  Дальний Восток
1259                    москва  153050           Центр
1396           гисметео москва  140279           Центр
1482          госуслуги москва  133061           Центр
1579                авито тула  126168           Центр
1682             погода москва  151701           Центр
2175            дром хабаровск   98361  Дальний Восток
2806  циан недвижимость москва   78729           Центр

#### Задание 3

In [98]:
ratings = pd.read_csv(r'C:\Users\dmvma\Downloads\ml-latest\ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1      307     3.5  1256677221
1       1      481     3.5  1256677456
2       1     1091     1.5  1256677471
3       1     1257     4.5  1256677460
4       1     1449     4.5  1256677264

In [91]:
movies = pd.read_csv(r'C:\Users\dmvma\Downloads\ml-latest\movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [92]:
years = [i for i in range(1950, 2011)]
print(years)

[1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010]

In [93]:
def production_year(row):
    for year in years:
        if str(year) in row['title']:
            return int(year)
    return 1900

In [96]:
movies['year'] = movies.apply(production_year, axis = 1)
movies.head()

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995

In [95]:
# checking results
movies[(movies.year != 1995) & (movies.year != 1996)].head(15)

,movieId,title,genres,year
50,51,Guardian Angel (1994),Action|Drama|Thriller,1994
52,53,Lamerica (1994),Adventure|Drama,1994
57,58,"Postman, The (Postino, Il) (1994)",Comedy|Drama|Romance,1994
96,98,Shopping (1994),Action|Thriller,1994
104,106,Nobody Loves Me (Keiner liebt mich) (1994),Comedy|Drama,1994
109,111,Taxi Driver (1976),Crime|Drama|Thriller,1976
119,121,"Boys of St. Vincent, The (1992)",Drama,1992
120,122,Boomerang (1992),Comedy|Romance,1992
121,123,Chungking Express (Chung Hing sam lam) (1994),Drama|Mystery|Romance,1994
124,126,"NeverEnding Story III, The (1994)",Adventure|Children|Fantasy,1994
125,127,"Silences of the Palace, The (Saimt el Qusur) (...",Drama,1994
126,128,Jupiter's Wife (1994),Documentary,1994
140,142,Shadows (Cienie) (1988),Drama,1988
147,149,Amateur (1994),Crime|Drama|Thriller,1994
152,154,Beauty of the Day (Belle de jour) (1967),Drama,1967

In [100]:
joined = ratings.merge(movies, on = 'movieId', how = 'left')
joined.head()

,userId,movieId,rating,timestamp,title,genres,year
0,1,307,3.5,1256677221,Three Colors: Blue (Trois couleurs: Bleu) (1993),Drama,1993
1,1,481,3.5,1256677456,Kalifornia (1993),Drama|Thriller,1993
2,1,1091,1.5,1256677471,Weekend at Bernie's (1989),Comedy,1989
3,1,1257,4.5,1256677460,Better Off Dead... (1985),Comedy|Romance,1985
4,1,1449,4.5,1256677264,Waiting for Guffman (1996),Comedy,1996

In [107]:
joined.groupby('year').mean().sort_values('rating', ascending = False)['rating'].head(15)

year
1957    3.996580
1954    3.970365
1972    3.969146
1962    3.925539
1952    3.896432
1974    3.891385
1975    3.880175
1964    3.870066
1951    3.868538
1966    3.837793
1977    3.836595
1950    3.830497
1959    3.816856
1960    3.815270
1967    3.810911
Name: rating, dtype: float64