# Домашнее задание к лекции "Базовые понятия статистики"

[Описание столбцов](https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.names)

In [111]:
import pandas as pd
import numpy as np

In [112]:
# loading df and adding column names
df = pd.read_csv('lecture_notebooks\horse_data.csv', 
                 sep=',', 
                 names=['Surgery', 'Age', 'Hospital_ID', 'Coverage', 'Rectal_temp', 'Pulse', 'Resp_rate', 'Ext_temp', 
                       'Per_pulse', 'Mucous_memb', 'Refill', 'Pain', 'Perist', 'Ab_dist', 'N_tube', 'N_reflux', 'N_reflux_PH',
                       'R_exam', 'Abd', 'Cell_vol', 'Protein', 'Abd_a', 'Abd_p', 'Outcome', 'Surg_lesion', 'type_1', 'type_2',
                       'type_3', 'cp-data']
                )

In [113]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Surgery      300 non-null    object
 1   Age          300 non-null    int64
 2   Hospital_ID  300 non-null    int64
 3   Coverage     300 non-null    object
 4   Rectal_temp  300 non-null    object
 5   Pulse        300 non-null    object
 6   Resp_rate    300 non-null    object
 7   Ext_temp     300 non-null    object
 8   Per_pulse    300 non-null    object
 9   Mucous_memb  300 non-null    object
 10  Refill       300 non-null    object
 11  Pain         300 non-null    object
 12  Perist       300 non-null    object
 13  Ab_dist      300 non-null    object
 14  N_tube       300 non-null    object
 15  N_reflux     300 non-null    object
 16  N_reflux_PH  300 non-null    object
 17  R_exam       300 non-null    object
 18  Abd          300 non-null    object
 19  Cell_vol     300 non-null    object
 20  Protein      300 non-null    object
 21  Abd_a        300 non-null    object
 22  Abd_p        300 non-null    object
 23  Outcome      300 non-null    int64
 24  Surg_lesion  300 non-null    int64
 25  type_1       300 non-null    int64
 26  type_2       300 non-null    int64
 27  type_3       300 non-null    int64
 28  cp-data      0 non-null      float64
dtypes: float64(1), int64(7), object(21)
memory usage: 68.1+ KB

In [114]:
df.describe()

,Age,Hospital_ID,Outcome,Surg_lesion,type_1,type_2,type_3,cp-data
count,300.000000,3.000000e+02,300.000000,300.000000,300.000000,300.000000,300.000000,0.0
mean,1.640000,1.085889e+06,1.363333,3657.880000,90.226667,7.363333,1.670000,NaN
std,2.173972,1.529801e+06,0.481763,5399.513513,649.569234,127.536674,0.470998,NaN
min,1.000000,5.184760e+05,1.000000,0.000000,0.000000,0.000000,1.000000,NaN
25%,1.000000,5.289040e+05,1.000000,2111.750000,0.000000,0.000000,1.000000,NaN
50%,1.000000,5.303055e+05,1.000000,2673.500000,0.000000,0.000000,2.000000,NaN
75%,1.000000,5.347275e+05,2.000000,3209.000000,0.000000,0.000000,2.000000,NaN
max,9.000000,5.305629e+06,2.000000,41110.000000,7111.000000,2209.000000,2.000000,NaN

In [115]:
df = df.replace('?',np.NaN)

In [116]:
for col in df.columns:
    missing = df[col].isnull().mean()
    print(f'{col} - {missing :.1%}')

Surgery - 0.3%
Age - 0.0%
Hospital_ID - 0.0%
Coverage - 20.0%
Rectal_temp - 8.0%
Pulse - 19.3%
Resp_rate - 18.7%
Ext_temp - 23.0%
Per_pulse - 15.7%
Mucous_memb - 10.7%
Refill - 18.3%
Pain - 14.7%
Perist - 18.7%
Ab_dist - 34.7%
N_tube - 35.3%
N_reflux - 82.3%
N_reflux_PH - 34.0%
R_exam - 39.3%
Abd - 9.7%
Cell_vol - 11.0%
Protein - 55.0%
Abd_a - 66.0%
Abd_p - 0.3%
Outcome - 0.0%
Surg_lesion - 0.0%
type_1 - 0.0%
type_2 - 0.0%
type_3 - 0.0%
cp-data - 100.0%

### Response variable: Outcome (code 23)

In [117]:
pd.crosstab(index = df['Outcome'], columns = ['Count'])

col_0    Count
Outcome
1          191
2          109

In [118]:
sum(pd.isnull(df['Outcome']))

0

Conclusion: response variable, categorical, no NAs, only 'lived' and 'died' outcomes, no 'was euthanized' cases.

### Explanatory variable 1: Surgery (code 1)

In [119]:
pd.crosstab(index=df['Surgery'], columns = ['Count'])

col_0    Count
Surgery
1          180
2          119

In [120]:
df['Surgery'].isna().sum()

1

In [121]:
# Table of Outcome vs. Surgery
outcome_surg = pd.crosstab(index = df['Outcome'], 
                           columns = df['Surgery'])

outcome_surg.index= ['lived', 'died']

outcome_surg

Surgery    1   2
lived    157  33
died      23  86

Conclusion: categorical, may be statistically significant for predicting outcome as more horses who had surgery compared to those who didn't survived. NA can be added to those that had surgery.

In [122]:
df.Surgery.fillna(df.Surgery.mode()[0], inplace=True)

In [123]:
df['Surgery'].isna().sum()

0

### Explanatory variable 2: Pulse (code 5)

In [124]:
df['Pulse'].head(6)

0     28
1     20
2     24
3     84
4     35
5    NaN
Name: Pulse, dtype: object

In [125]:
df['Pulse'].isna().sum()

58

In [126]:
df['Pulse'] = df['Pulse'].astype('float')

In [127]:
df.Pulse.describe()

count    242.000000
mean      30.417355
std       17.642231
min        8.000000
25%       18.500000
50%       24.500000
75%       36.000000
max       96.000000
Name: Pulse, dtype: float64

In [128]:
# as mean is signigicantly lower than the median, we replace NAs with the median
df.Pulse.fillna(df.Pulse.median(), inplace=True)
df.Pulse.fillna(df.Pulse.median()).isna().sum()

0

In [129]:
df.Pulse.describe()

count    300.000000
mean      29.273333
std       16.010979
min        8.000000
25%       20.000000
50%       24.500000
75%       34.250000
max       96.000000
Name: Pulse, dtype: float64

In [ ]:
# outliers