# Домашнее задание к лекции "Базовые понятия статистики"

[Описание столбцов](https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.names)

In [3]:
import pandas as pd

In [27]:
# loading df and adding column names
df = pd.read_csv('lecture_notebooks\horse_data.csv', 
                 sep=',', 
                 names=['Surgery', 'Age', 'Hospital_ID', 'Coverage', 'Rectal_temp', 'Pulse', 'Resp_rate', 'Ext_temp', 
                       'Per_pulse', 'Mucous_memb', 'Refill', 'Pain', 'Perist', 'Ab_dist', 'N_tube', 'N_reflux', 'N_reflux_PH',
                       'R_exam', 'Abd', 'Cell_vol', 'Protein', 'Abd_a', 'Abd_p', 'Outcome', 'Surg_lesion', 'type_1', 'type_2',
                       'type_3', 'cp-data']
                )

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Surgery      300 non-null    object
 1   Age          300 non-null    int64
 2   Hospital_ID  300 non-null    int64
 3   Coverage     300 non-null    object
 4   Rectal_temp  300 non-null    object
 5   Pulse        300 non-null    object
 6   Resp_rate    300 non-null    object
 7   Ext_temp     300 non-null    object
 8   Per_pulse    300 non-null    object
 9   Mucous_memb  300 non-null    object
 10  Refill       300 non-null    object
 11  Pain         300 non-null    object
 12  Perist       300 non-null    object
 13  Ab_dist      300 non-null    object
 14  N_tube       300 non-null    object
 15  N_reflux     300 non-null    object
 16  N_reflux_PH  300 non-null    object
 17  R_exam       300 non-null    object
 18  Abd          300 non-null    object
 19  Cell_vol     300 non-null    object
 20  Protein      300 non-null    object
 21  Abd_a        300 non-null    object
 22  Abd_p        300 non-null    object
 23  Outcome      300 non-null    int64
 24  Surg_lesion  300 non-null    int64
 25  type_1       300 non-null    int64
 26  type_2       300 non-null    int64
 27  type_3       300 non-null    int64
 28  cp-data      0 non-null      float64
dtypes: float64(1), int64(7), object(21)
memory usage: 68.1+ KB

## Задание 1

### Response variable: Outcome (code 23)

In [31]:
# df[df['Outcome'] == 3]

In [41]:
pd.crosstab(index = df['Outcome'], columns = ['Count'])

col_0    Count
Outcome
1          191
2          109

In [33]:
sum(pd.isnull(df['Outcome']))

0

Conclusion: response variable, no NAs, only 'lived' and 'died' outcomes, no 'was euthanized' cases.

### Explanatory variable 1: Surgery (code 1)

In [43]:
pd.crosstab(index=df['Surgery'], columns = ['Count'])

col_0    Count
Surgery
1          180
2          119
?            1

In [44]:
# Table of Outcome vs. Surgery
outcome_surg = pd.crosstab(index = df['Outcome'], 
                           columns = df['Surgery'])

outcome_surg.index= ['lived', 'died']

outcome_surg

Surgery    1   2  ?
lived    157  33  1
died      23  86  0