# Домашнее задание к лекции "Базовые понятия статистики"

[Codebook](https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.names)

In [153]:
import pandas as pd
import numpy as np

In [154]:
# loading df and adding column names
df = pd.read_csv('lecture_notebooks\horse_data.csv', 
                 sep=',', 
                 names=['Surgery', 'Age', 'Hospital_ID', 'Coverage', 'Rectal_temp', 'Pulse', 'Resp_rate', 'Ext_temp', 
                       'Per_pulse', 'Mucous_memb', 'Refill', 'Pain', 'Perist', 'Ab_dist', 'N_tube', 'N_reflux', 'N_reflux_PH',
                       'R_exam', 'Abd', 'Cell_vol', 'Protein', 'Abd_a', 'Abd_p', 'Outcome', 'Surg_lesion', 'type_1', 'type_2',
                       'type_3', 'cp-data']
                )

In [155]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Surgery      300 non-null    object
 1   Age          300 non-null    int64
 2   Hospital_ID  300 non-null    int64
 3   Coverage     300 non-null    object
 4   Rectal_temp  300 non-null    object
 5   Pulse        300 non-null    object
 6   Resp_rate    300 non-null    object
 7   Ext_temp     300 non-null    object
 8   Per_pulse    300 non-null    object
 9   Mucous_memb  300 non-null    object
 10  Refill       300 non-null    object
 11  Pain         300 non-null    object
 12  Perist       300 non-null    object
 13  Ab_dist      300 non-null    object
 14  N_tube       300 non-null    object
 15  N_reflux     300 non-null    object
 16  N_reflux_PH  300 non-null    object
 17  R_exam       300 non-null    object
 18  Abd          300 non-null    object
 19  Cell_vol     300 non-null    object
 20  Protein      300 non-null    object
 21  Abd_a        300 non-null    object
 22  Abd_p        300 non-null    object
 23  Outcome      300 non-null    int64
 24  Surg_lesion  300 non-null    int64
 25  type_1       300 non-null    int64
 26  type_2       300 non-null    int64
 27  type_3       300 non-null    int64
 28  cp-data      0 non-null      float64
dtypes: float64(1), int64(7), object(21)
memory usage: 68.1+ KB

In [156]:
df.describe()
# not all the numeric variables have int or float data type

,Age,Hospital_ID,Outcome,Surg_lesion,type_1,type_2,type_3,cp-data
count,300.000000,3.000000e+02,300.000000,300.000000,300.000000,300.000000,300.000000,0.0
mean,1.640000,1.085889e+06,1.363333,3657.880000,90.226667,7.363333,1.670000,NaN
std,2.173972,1.529801e+06,0.481763,5399.513513,649.569234,127.536674,0.470998,NaN
min,1.000000,5.184760e+05,1.000000,0.000000,0.000000,0.000000,1.000000,NaN
25%,1.000000,5.289040e+05,1.000000,2111.750000,0.000000,0.000000,1.000000,NaN
50%,1.000000,5.303055e+05,1.000000,2673.500000,0.000000,0.000000,2.000000,NaN
75%,1.000000,5.347275e+05,2.000000,3209.000000,0.000000,0.000000,2.000000,NaN
max,9.000000,5.305629e+06,2.000000,41110.000000,7111.000000,2209.000000,2.000000,NaN

In [157]:
df = df.replace('?',np.NaN)

In [158]:
for col in df.columns:
    missing = df[col].isnull().mean()
    print(f'{col} - {missing :.1%}')

Surgery - 0.3%
Age - 0.0%
Hospital_ID - 0.0%
Coverage - 20.0%
Rectal_temp - 8.0%
Pulse - 19.3%
Resp_rate - 18.7%
Ext_temp - 23.0%
Per_pulse - 15.7%
Mucous_memb - 10.7%
Refill - 18.3%
Pain - 14.7%
Perist - 18.7%
Ab_dist - 34.7%
N_tube - 35.3%
N_reflux - 82.3%
N_reflux_PH - 34.0%
R_exam - 39.3%
Abd - 9.7%
Cell_vol - 11.0%
Protein - 55.0%
Abd_a - 66.0%
Abd_p - 0.3%
Outcome - 0.0%
Surg_lesion - 0.0%
type_1 - 0.0%
type_2 - 0.0%
type_3 - 0.0%
cp-data - 100.0%

In [159]:
# df with NAs removed
noNAs = df.dropna()
noNAs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Surgery      0 non-null      object
 1   Age          0 non-null      int64
 2   Hospital_ID  0 non-null      int64
 3   Coverage     0 non-null      object
 4   Rectal_temp  0 non-null      object
 5   Pulse        0 non-null      object
 6   Resp_rate    0 non-null      object
 7   Ext_temp     0 non-null      object
 8   Per_pulse    0 non-null      object
 9   Mucous_memb  0 non-null      object
 10  Refill       0 non-null      object
 11  Pain         0 non-null      object
 12  Perist       0 non-null      object
 13  Ab_dist      0 non-null      object
 14  N_tube       0 non-null      object
 15  N_reflux     0 non-null      object
 16  N_reflux_PH  0 non-null      object
 17  R_exam       0 non-null      object
 18  Abd          0 non-null      object
 19  Cell_vol     0 non-null      object
 20  Protein      0 non-null      object
 21  Abd_a        0 non-null      object
 22  Abd_p        0 non-null      object
 23  Outcome      0 non-null      int64
 24  Surg_lesion  0 non-null      int64
 25  type_1       0 non-null      int64
 26  type_2       0 non-null      int64
 27  type_3       0 non-null      int64
 28  cp-data      0 non-null      float64
dtypes: float64(1), int64(7), object(21)
memory usage: 0.0+ bytes

### Response variable: Outcome (code 23)

In [160]:
pd.crosstab(index = df['Outcome'], columns = ['Count'])

col_0    Count
Outcome
1          191
2          109

In [161]:
sum(pd.isnull(df['Outcome']))

0

Conclusion: response variable, categorical, no NAs, only 'lived' and 'died' outcomes, no 'was euthanized' cases.

### Explanatory variable 1: Surgery (code 1)

In [162]:
pd.crosstab(index=df['Surgery'], columns = ['Count'])

col_0    Count
Surgery
1          180
2          119

In [163]:
df['Surgery'].isna().sum()

1

In [164]:
# Table of Outcome vs. Surgery
outcome_surg = pd.crosstab(index = df['Outcome'], 
                           columns = df['Surgery'])

outcome_surg.index= ['lived', 'died']

outcome_surg

Surgery    1   2
lived    157  33
died      23  86

Conclusion: categorical, may be statistically significant for predicting outcome as more horses who had surgery compared to those who didn't survived. NA can be added to those that had surgery.

In [165]:
df.Surgery.fillna(df.Surgery.mode()[0], inplace=True)

In [166]:
df['Surgery'].isna().sum()

0

### Explanatory variable 2: Pulse (code 5)

In [167]:
df['Pulse'].head(6)

0     28
1     20
2     24
3     84
4     35
5    NaN
Name: Pulse, dtype: object

In [168]:
df['Pulse'].isna().sum()

58

In [169]:
df['Pulse'] = df['Pulse'].astype('float')

In [170]:
df.Pulse.describe()

count    242.000000
mean      30.417355
std       17.642231
min        8.000000
25%       18.500000
50%       24.500000
75%       36.000000
max       96.000000
Name: Pulse, dtype: float64

In [171]:
# as mean is signigicantly higher than the median, we replace NAs with the median
df.Pulse.fillna(df.Pulse.median(), inplace=True)
df.Pulse.fillna(df.Pulse.median()).isna().sum()

0

In [173]:
df.Pulse.describe()

count    300.000000
mean      29.273333
std       16.010979
min        8.000000
25%       20.000000
50%       24.500000
75%       34.250000
max       96.000000
Name: Pulse, dtype: float64

In [174]:
# outliers
q1 = df.Pulse.quantile(0.25)
q3 = df.Pulse.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers_pulse = df[df.Pulse.between(lower_bound, upper_bound, inclusive=True)]
remove_outliers_pulse.head()

,Surgery,Age,Hospital_ID,Coverage,Rectal_temp,Pulse,Resp_rate,Ext_temp,Per_pulse,Mucous_memb,...,Cell_vol,Protein,Abd_a,Abd_p,Outcome,Surg_lesion,type_1,type_2,type_3,cp-data
0,2,1,530101,38.50,66,28.0,3,3,NaN,2,...,8.40,NaN,NaN,2,2,11300,0,0,2,NaN
1,1,1,534817,39.2,88,20.0,NaN,NaN,4,1,...,85,2,2,3,2,2208,0,0,2,NaN
2,2,1,530334,38.30,40,24.0,1,1,3,1,...,6.70,NaN,NaN,1,2,0,0,0,1,NaN
4,2,1,530255,37.30,104,35.0,NaN,NaN,6,2,...,7.40,NaN,NaN,2,2,4300,0,0,2,NaN
5,2,1,528355,NaN,NaN,24.5,2,1,3,1,...,NaN,NaN,NaN,1,2,0,0,0,2,NaN

In [175]:
remove_outliers_pulse.Pulse.describe()

count    278.000000
mean      25.661871
std        9.306594
min        8.000000
25%       20.000000
50%       24.500000
75%       30.000000
max       52.000000
Name: Pulse, dtype: float64

Conclusion: numerical variable, NAs filled with median, outliers may be due to reading error and are removed.

### Explanatory variable 3: Mucous membranes (code 9)

In [176]:
pd.crosstab(index=df['Mucous_memb'], columns = ['Count'])

col_0        Count
Mucous_memb
1              188
2               78
3                2

In [177]:
df['Mucous_memb'].isna().sum()

32

In [178]:
# Table of Outcome vs. Mucous_memb
outcome_memb = pd.crosstab(index = df['Outcome'], 
                           columns = df['Mucous_memb'])

outcome_memb.index= ['lived', 'died']

outcome_memb

Mucous_memb    1   2  3
lived        107  60  1
died          81  18  1

Conclusion: categorical, there are as expected more survived horses among those with normal pink and bright pink membrane, lack of categories 4 to 6 though makes it impossible to draw statistical conclusions. Significant number of NAs, cannot be attributed to either of the categories. As we suppose random NAs, we ignore them.

### Explanatory variable 4: Peristalsis (code 12)

In [179]:
pd.crosstab(index=df['Perist'], columns = ['Count'])

col_0   Count
Perist
1          76
2          65
3          65
4          38

In [180]:
df['Perist'].isna().sum()

56

In [181]:
# Table of Outcome vs. Perist
outcome_perist = pd.crosstab(index = df['Outcome'], 
                           columns = df['Perist'])

outcome_perist.index= ['lived', 'died']

outcome_perist

Perist   1   2   3   4
lived   36  33  56  33
died    40  32   9   5

Conclusion: categorical, strange association, more horses died with higher peristalsis, logically should be vice versa. To be checked. Significant number of NAs, cannot be attributed to either of the categories, as we suppose random NAs, we ignore them.

### Explanatory variable 5: Abdominal distension (code 13)

In [182]:
pd.crosstab(index=df['Ab_dist'], columns = ['Count'])

col_0    Count
Ab_dist
1           71
2          102
3           23

In [183]:
df['Ab_dist'].isna().sum()

104

In [184]:
# Table of Outcome vs. Ab_dist
outcome_dist = pd.crosstab(index = df['Outcome'], 
                           columns = df['Ab_dist'])

outcome_dist.index= ['lived', 'died']

outcome_dist

Ab_dist   1   2   3
lived    44  73  14
died     27  29   9

Conclusion: categorical, no severe cases (category 4). Although half of values are missing, we can keep this column as this is an imporant parameter and NAs are random.

### Explanatory variable 6: Packed cell volume (code 19)

In [185]:
df['Cell_vol'].head()

0    8.40
1      85
2    6.70
3    7.20
4    7.40
Name: Cell_vol, dtype: object

In [186]:
df['Cell_vol'].isna().sum()

33

In [187]:
df['Cell_vol'] = df['Cell_vol'].astype('float')

In [188]:
df.Cell_vol.describe()

count    267.000000
mean      24.456929
std       27.475009
min        3.300000
25%        6.500000
50%        7.500000
75%       57.000000
max       89.000000
Name: Cell_vol, dtype: float64

In [190]:
# as mean is signigicantly higher than the median, we replace NAs with the median
df.Cell_vol.fillna(df.Cell_vol.median(), inplace=True)
df.Cell_vol.fillna(df.Cell_vol.median()).isna().sum()

0

In [191]:
df.Cell_vol.describe()

count    300.000000
mean      22.591667
std       26.453849
min        3.300000
25%        6.600000
50%        7.500000
75%       53.250000
max       89.000000
Name: Cell_vol, dtype: float64

In [193]:
# outliers
q1 = df.Cell_vol.quantile(0.25)
q3 = df.Cell_vol.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers_cell = df[df.Cell_vol.between(lower_bound, upper_bound, inclusive=True)]
remove_outliers_cell.head()

,Surgery,Age,Hospital_ID,Coverage,Rectal_temp,Pulse,Resp_rate,Ext_temp,Per_pulse,Mucous_memb,...,Cell_vol,Protein,Abd_a,Abd_p,Outcome,Surg_lesion,type_1,type_2,type_3,cp-data
0,2,1,530101,38.50,66,28.0,3,3,NaN,2,...,8.4,NaN,NaN,2,2,11300,0,0,2,NaN
1,1,1,534817,39.2,88,20.0,NaN,NaN,4,1,...,85.0,2,2,3,2,2208,0,0,2,NaN
2,2,1,530334,38.30,40,24.0,1,1,3,1,...,6.7,NaN,NaN,1,2,0,0,0,1,NaN
3,1,9,5290409,39.10,164,84.0,4,1,6,2,...,7.2,3,5.30,2,1,2208,0,0,1,NaN
4,2,1,530255,37.30,104,35.0,NaN,NaN,6,2,...,7.4,NaN,NaN,2,2,4300,0,0,2,NaN

In [195]:
remove_outliers_cell.Cell_vol.describe()

count    300.000000
mean      22.591667
std       26.453849
min        3.300000
25%        6.600000
50%        7.500000
75%       53.250000
max       89.000000
Name: Cell_vol, dtype: float64

Conclusion: numerical, NAs replaced with median, it appears there are no outliers as key statistics remain the same in `remove_outliers_cell`.

### Explanatory variable 7: Abdomcentesis total protein (code 22)

In [196]:
df['Abd_p'].head()

0    2
1    3
2    1
3    2
4    2
Name: Abd_p, dtype: object

In [197]:
df['Abd_p'].isna().sum()

1

In [199]:
df['Abd_p'] = df['Abd_p'].astype('float')

In [200]:
df.Abd_p.describe()

count    299.000000
mean       1.551839
std        0.737187
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
max        3.000000
Name: Abd_p, dtype: float64

In [201]:
# as mean is signigicantly higher than the median, we replace NAs with the median
df.Abd_p.fillna(df.Abd_p.median(), inplace=True)
df.Abd_p.fillna(df.Abd_p.median()).isna().sum()

0

In [202]:
df.Abd_p.describe()

count    300.000000
mean       1.550000
std        0.736642
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
max        3.000000
Name: Abd_p, dtype: float64

In [203]:
# outliers
q1 = df.Abd_p.quantile(0.25)
q3 = df.Abd_p.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers_abd = df[df.Abd_p.between(lower_bound, upper_bound, inclusive=True)]
remove_outliers_abd.head()

,Surgery,Age,Hospital_ID,Coverage,Rectal_temp,Pulse,Resp_rate,Ext_temp,Per_pulse,Mucous_memb,...,Cell_vol,Protein,Abd_a,Abd_p,Outcome,Surg_lesion,type_1,type_2,type_3,cp-data
0,2,1,530101,38.50,66,28.0,3,3,NaN,2,...,8.4,NaN,NaN,2.0,2,11300,0,0,2,NaN
1,1,1,534817,39.2,88,20.0,NaN,NaN,4,1,...,85.0,2,2,3.0,2,2208,0,0,2,NaN
2,2,1,530334,38.30,40,24.0,1,1,3,1,...,6.7,NaN,NaN,1.0,2,0,0,0,1,NaN
3,1,9,5290409,39.10,164,84.0,4,1,6,2,...,7.2,3,5.30,2.0,1,2208,0,0,1,NaN
4,2,1,530255,37.30,104,35.0,NaN,NaN,6,2,...,7.4,NaN,NaN,2.0,2,4300,0,0,2,NaN

In [204]:
remove_outliers_abd.Abd_p.describe()

count    300.000000
mean       1.550000
std        0.736642
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
max        3.000000
Name: Abd_p, dtype: float64

Conclusion: numerical, NAs replaced with median, removing outliers reduced standard deviation but as outliers may represent actual cases of extremely low or high levels of protein, they should be kept and studied further.