# Библиотека Pandas
Когда и зачем использовать

Режим презентации jupyter nbconvert my_script.ipynb --to slides --post serve

https://medium.com/@mjspeck/presenting-code-using-jupyter-notebook-slides-a8a3c3b59d67

In [1]:
# запуск презентации
# !jupyter nbconvert Python_10_pandas_presentation_mode.ipynb --to slides --post serve

https://grouplens.org/datasets/movielens/

In [2]:
import pandas as pd

In [3]:
ratings = pd.read_csv(r'C:\Users\dmvma\Downloads\ml-latest\ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1      307     3.5  1256677221
1       1      481     3.5  1256677456
2       1     1091     1.5  1256677471
3       1     1257     4.5  1256677460
4       1     1449     4.5  1256677264

In [4]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27753444 entries, 0 to 27753443
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 847.0 MB

In [5]:
# сколько фильмов в коллекции
len(ratings.movieId.unique())

53889

In [6]:
%%time

# топ пользователей по количеству оценок
# group by unique users --> count them --> sort Desc
ratings.groupby('userId').count().sort_values('movieId', ascending=False).head()

Wall time: 1.12 s

        movieId  rating  timestamp
userId
123100    23715   23715      23715
117490     9279    9279       9279
134596     8381    8381       8381
212343     7884    7884       7884
242683     7515    7515       7515

# Lifetime

In [7]:
# average time difference between first and last rating of each user
ratings_grouped = ratings.groupby('userId').agg([min, max]) # group by users and aggregate min and max
ratings_grouped.head()

       movieId        rating        timestamp
           min    max    min  max         min         max
userId
1          307   3893    1.5  4.5  1256677210  1256677500
2          170   3363    3.0  4.5  1192913533  1192913611
3          640   3171    2.0  5.0   945141407   945141611
4            1  56367    0.5  5.0  1113765602  1204592934
5           47  56782    2.0  5.0  1209039308  1209126093

In [8]:
ratings_grouped['diff'] = ratings_grouped['timestamp']['max'] - ratings_grouped['timestamp']['min'] # create diff column
ratings_grouped.head()

       movieId        rating        timestamp                  diff
           min    max    min  max         min         max
userId
1          307   3893    1.5  4.5  1256677210  1256677500       290
2          170   3363    3.0  4.5  1192913533  1192913611        78
3          640   3171    2.0  5.0   945141407   945141611       204
4            1  56367    0.5  5.0  1113765602  1204592934  90827332
5           47  56782    2.0  5.0  1209039308  1209126093     86785

In [9]:
ratings_grouped['diff'].mean() / 24 / 3600 # average time in days

133.49238859514406

In [10]:
# %%time # cell execution time

ratings = pd.read_csv(r'C:\Users\dmvma\Downloads\ml-latest\ratings.csv')
ratings_grouped = ratings.groupby('userId').agg([min, max])
ratings_grouped['diff'] = ratings_grouped['timestamp']['max'] - ratings_grouped['timestamp']['min']

ratings_grouped['diff'].mean() / 24 / 3600

133.49238859514406

# JOIN как в SQL

In [11]:
movies = pd.read_csv(r'C:\Users\dmvma\Downloads\ml-latest\movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [12]:
joined = ratings.merge(movies, on='movieId', how='left') # joing 'movies' and 'ratings' tables
joined.head()

,userId,movieId,rating,timestamp,title,genres
0,1,307,3.5,1256677221,Three Colors: Blue (Trois couleurs: Bleu) (1993),Drama
1,1,481,3.5,1256677456,Kalifornia (1993),Drama|Thriller
2,1,1091,1.5,1256677471,Weekend at Bernie's (1989),Comedy
3,1,1257,4.5,1256677460,Better Off Dead... (1985),Comedy|Romance
4,1,1449,4.5,1256677264,Waiting for Guffman (1996),Comedy