# Основы pandas

In [2]:
import pandas as pd

Пример забора данных с сайтов

In [2]:
pd.read_clipboard(sep = '\t') # копирование из буфера обмена (изначально создана в Excel)

   a  b  c
0  1  2  3
1  4  5  6

In [6]:
pd.read_html('http://www.cbr.ru')[0] # searches for html <table> tag

  Курсы валют с 18.09.2020 с 19.09.2020
0  Доллар США     75,1941₽     75,0319₽
1        Евро     88,6313₽     88,9578₽

In [7]:
page_url = 'https://www.finanz.ru/valyuty/usd-rub'

# Импортируем нужную нам страницу в df
# attrs = {'class': 'news_table'} ---> указываем какой именно блок нам нужен
# encoding='utf-8' ---> указываем кодировку страниц для корректного отображения кириллицы
df = pd.read_html(page_url, attrs = {'class': 'news_table'}, encoding='utf-8')

In [6]:
df[:5]

[       Дата  Закрытие  Открытие  Максимум  Минимум
 0  17.09.20    751237    749084    754510   748668
 1  16.09.20    749083    750900    754345   746570
 2  15.09.20    750901    753332    753755   746975
 3  14.09.20    753333    749345    755296   745730
 4  13.09.20    749355    750030    750495   749345
 5  11.09.20    750120    751475    753150   747490
 6  10.09.20    751915    753612    756810   746680
 7  09.09.20    753613    762907    764780   752035
 8  08.09.20    762861    757205    765850   756845,
        Имя  Unnamed: 1     %    курс                 Дата
 0  EUR/RUB         NaN -1512  888505  18.09.2020 13:17:00
 1  USD/RUB         NaN -1287   75027  18.09.2020 13:17:00
 2  CHF/RUB         NaN -1573  825689  18.09.2020 13:18:00
 3  JPY/RUB         NaN  2802    7192  18.09.2020 13:18:00
 4  GBP/RUB         NaN  -353  974311  18.09.2020 13:18:00
 5  NOK/RUB         NaN -2531    8277  18.09.2020 13:17:00
 6  AUD/RUB         NaN  -211  547996  18.09.2020 13:17:00
 7  NZD/RUB         NaN  3593  508907  18.09.2020 13:17:00
 8  TRY/RUB         NaN -4061    9913  18.09.2020 13:17:00]

In [ ]:
pd.read_excel('C:\Users\dmvma\Downloads\ml-latest\ratings.csv', sheet_name = 'Лист2')

In [ ]:
import pymysql
connection = pymysql.connect(host = '', user = '', pwd = '', port = )

In [ ]:
pd.read_sql('select * from db.table limit 5', connection) 
# нужно следить, чтобы хватило оперативной памяти, для этого можно использовать лимит в 5 (чего?)

Импорт данных из файла

In [9]:
data = pd.read_csv('power.csv', sep = ',')
data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [10]:
data.columns

Index(['country', 'year', 'quantity', 'category'], dtype='object')

In [11]:
data.tail()

          country  year  quantity  category
1189477  Viet Nam  2012      92.0        71
1189478  Viet Nam  2011      87.0        71
1189479  Viet Nam  2010      50.0        71
1189480  Viet Nam  2009      10.0        71
1189481  Viet Nam  2008       1.0        71

In [12]:
type(data)

pandas.core.frame.DataFrame

In [13]:
# если надо указать свои заголовки и разделитель
# data = pd.read_csv('power.csv', names = ['страна', 'год', 'количество', 'категория'], sep = '\t', header=0)
# data.head()

In [14]:
?pd.read_csv

In [15]:
# количество строк в датафрейме

len(data)

1189482

In [16]:
# или так

data.shape

(1189482, 4)

Простые вычисления для нового столбца

In [17]:
data['year_plus_one'] = data['year'] + 1
data.head()

   country  year  quantity  category  year_plus_one
0  Austria  1996       5.0         1           1997
1  Austria  1995      17.0         1           1996
2  Belgium  2014       0.0         1           2015
3  Belgium  2013       0.0         1           2014
4  Belgium  2012      35.0         1           2013

### Упражнение
Вам дана статистика продаж в файле transactions.csv. Вам необходимо загрузить этот файл в датафрейм и посчитать его размеры.

In [18]:
data_1 = pd.read_csv('transactions.csv', sep = ',')

In [19]:
data_1.shape

(60, 8)

In [7]:
data_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Year     60 non-null     int64
 1   Month    60 non-null     int64
 2   ID       60 non-null     object
 3   Product  60 non-null     object
 4   Amount   60 non-null     int64
 5   Price    60 non-null     int64
 6   Total    60 non-null     int64
 7   Cost     60 non-null     int64
dtypes: int64(6), object(2)
memory usage: 3.9+ KB

In [20]:
data_1.columns

Index(['Year', 'Month', 'ID', 'Product', 'Amount', 'Price', 'Total', 'Cost'], dtype='object')

In [21]:
len(data_1)

60

### Основные сведения о датафрейме

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1189482 entries, 0 to 1189481
Data columns (total 5 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   country        1189482 non-null  object
 1   year           1189482 non-null  int64
 2   quantity       1189482 non-null  float64
 3   category       1189482 non-null  int64
 4   year_plus_one  1189482 non-null  int64
dtypes: float64(1), int64(3), object(1)
memory usage: 45.4+ MB

In [23]:
# немного статистики

data.describe()

               year      quantity      category  year_plus_one
count  1.189482e+06  1.189482e+06  1.189482e+06   1.189482e+06
mean   2.002852e+03  1.842648e+05  3.624763e+01   2.003852e+03
std    7.167345e+00  1.585663e+07  1.809968e+01   7.167345e+00
min    1.990000e+03 -8.643480e+05  1.000000e+00   1.991000e+03
25%    1.997000e+03  1.400000e+01  2.400000e+01   1.998000e+03
50%    2.003000e+03  1.890000e+02  3.500000e+01   2.004000e+03
75%    2.009000e+03  2.265000e+03  5.100000e+01   2.010000e+03
max    2.014000e+03  6.680329e+09  7.100000e+01   2.015000e+03

### Отдельный столбец (тип Series)

In [24]:
data['year'].head()

0    1996
1    1995
2    2014
3    2013
4    2012
Name: year, dtype: int64

In [ ]:
# или так

data.year.head()

In [ ]:
type(data['year'])

In [ ]:
data.head()

In [ ]:
# уникальные значения в столбце

data['category'].unique()

In [ ]:
len(data['category'].unique())

In [ ]:
data['category'].head()

In [ ]:
# распределение количества строк по значениям столбца

data['category'].value_counts().head(10)

In [ ]:
data['category'].value_counts(normalize=True).head()

### Упражнение
Используем файл transactions.csv. Определите какой товар (столбец Product) упоминается в файле чаще всего?

# Фильтры

In [ ]:
data = pd.read_csv('power.csv')
data.head()

In [ ]:
# выбрать несколько столбцов

country_stats = data.filter(items = ['country', 'quantity'])
country_stats.head()

In [ ]:
# или так

data[['country', 'quantity']].head()

### Отфильтруем строки с потреблением выше среднего

In [ ]:
average_level = data['quantity'].mean()
average_level

In [ ]:
'quantity > {}'.format(average_level)

In [ ]:
# строки с потреблением больше среднего

average_level = data['quantity'].mean()
country_stats.query('quantity > {}'.format(average_level)).head()

In [ ]:
# самый популярный способ

data[ data.quantity > average_level ].head()

### Как определить используемый вариант названия страны?

In [ ]:
data['country'].unique()

In [ ]:
# найдем как называется Россия и Беларусь в этом датафрейме
# фильтр на подстроку - смотрим все страны, содержащие в названии 'us'

data[ data['country'].str.contains('us', case=False) ]['country'].unique()

In [ ]:
# фильтр на несколько условий сразу
# | - условие ИЛИ
# & AND
# () | (() | () & ())
filtered_countries = data[ (data['country']=='Russian Federation') | (data['country']=='Belarus') ]

filtered_countries.head()

In [ ]:
filtered_countries['country'].unique()

In [ ]:
# фильтры на номер строки

data.loc[1000:1005]

# Сортировка

In [ ]:
# Сортировка по столбцу

data.sort_values.head()

In [ ]:
# сортировка по убыванию

data.sort_values('quantity', ascending=False).head()

In [ ]:
# сортировка по нескольким столбцам

data.sort_values(by=['year', 'country', 'quantity'], ascending=[False, True, False]).head(50)

### Параметр inplace

In [ ]:
data.head()

In [ ]:
data.sort_values('country', ascending=True, inplace=rewrite)

In [ ]:
data = data.sort_values(by=['country', 'year', 'quantity'], ascending=[True, True, False])

# чтобы сократить это выражение используем inplace:
data.sort_values(by=['country', 'year', 'quantity'], ascending=[True, True, False], inplace=True)

### Упражнение
Используем transactions.csv.

Для какой транзакции (столбец ID) были наибольшие расходы (столбец Cost) в категории "_8" (столбец Product)?