# Функции в Pandas
Примеры из презентации

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'user_id': [1, 2, 3], 'clicks': [163, 130, 97], 'orders': [2, 4, 0]})
df

   user_id  clicks  orders
0        1     163       2
1        2     130       4
2        3      97       0

In [5]:
df = pd.DataFrame({'user_id': [1, 2, 3], 'clicks': [163, 130, 97], 'orders': [2, 4, 0], 'calculated': [False, False, True]})
df[['user_id', 'clicks', 'orders', 'calculated']]

   user_id  clicks  orders  calculated
0        1     163       2       False
1        2     130       4       False
2        3      97       0        True

In [12]:
def watcher(param):
    """Мне только посмотреть"""
    return param == 0 # результат сравнения параметра с 0

# if param == 0: return True else: return False

In [13]:
watcher(0)

True

In [14]:
# функция watcher дана без скобок и аргументов
df['watcher'] = df['orders'].apply(watcher) 
df

   user_id  clicks  orders  conversion  watcher
0        1     163       2    0.012270    False
1        2     130       4    0.030769    False
2        3      97       0    0.000000     True

Применяем метод apply к одному столбцу. Сейчас в переменную функции передаются значения одного столбца

In [15]:
def conversion(row):
    """Подсчет конверсии переходов в покупки"""
    return row['orders'] / row['clicks']

### Как потестировать функцию со значениями одной строки

In [16]:
# применяем к одной строке (для тестирования функции)
row1 = pd.DataFrame({'clicks': [163], 
                     'orders': [2], 
                     'user_id': [1]})
conversion(row1)

0    0.01227
dtype: float64

Применяем метод apply к датафрейму. В переменную функции передаются строки целиком

In [17]:
# применяем ко всему df
df = pd.DataFrame({'user_id': [1, 2, 3], 'clicks': [163, 130, 97], 'orders': [2, 4, 0]})
df[['user_id', 'clicks', 'orders']]

   user_id  clicks  orders
0        1     163       2
1        2     130       4
2        3      97       0

In [18]:
# использует всю строку, перебираем построчно axis=1
df['conversion'] = df.apply(conversion, axis=1)

In [19]:
df[['user_id', 'clicks', 'orders', 'conversion']]

   user_id  clicks  orders  conversion
0        1     163       2    0.012270
1        2     130       4    0.030769
2        3      97       0    0.000000

### Анализ рекламных кампаний

In [3]:
import pandas as pd

In [4]:
stats = pd.read_excel('ad_campaigns.xlsx')
stats.head()

,Название группы,Фраза (с минус-словами),Продуктивность,ID объявления,Заголовок,Текст,Ссылка
0,мрт менделеевская,"""!мрт !менделеевская""",4.5,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...
1,мрт цао,"""мрт менделеевская""",4.5,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...
2,мрт цао,мрт менделеевская -головы -позвоночника -сдела...,7.4,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...
3,мрт цао,"""!мрт !цао""",5.0,2101704999,МРТ в ЦАО от 2000₽. Звоните!,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...
4,мрт сао,"""мрт цао""",5.0,2101704999,МРТ в ЦАО от 2000₽. Звоните!,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...

In [20]:
stats.Ссылка.head() # понимает кириллицу

0    https://awesome-site.ru/?utm_source=yandex&utm...
1    https://awesome-site.ru/?utm_source=yandex&utm...
2    https://awesome-site.ru/?utm_source=yandex&utm...
3    https://awesome-site.ru/?utm_source=yandex&utm...
4    https://awesome-site.ru/?utm_source=yandex&utm...
Name: Ссылка, dtype: object

In [31]:
# переименование столбцов
stats.columns = ['group', 'phrase', 'effect', 'ad_id', 'title', 'text', 'link']
stats.head()

,group,phrase,effect,ad_id,title,text,link
0,мрт менделеевская,"""!мрт !менделеевская""",4.5,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...
1,мрт цао,"""мрт менделеевская""",4.5,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...
2,мрт цао,мрт менделеевская -головы -позвоночника -сдела...,7.4,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...
3,мрт цао,"""!мрт !цао""",5.0,2101704999,МРТ в ЦАО от 2000₽. Звоните!,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...
4,мрт сао,"""мрт цао""",5.0,2101704999,МРТ в ЦАО от 2000₽. Звоните!,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...

### Lambda-функции
Хотим посчитать распределение количества слов в столбце с фразами

In [26]:
phrase = 'МРТ на Менделеевской от 2000'

In [27]:
len(phrase.split(' '))

5

In [33]:
def word_count(phrase):
    return len(phrase.split(' '))

In [34]:
# то же самое
word_count = lambda phrase: len(phrase.split(' '))

In [35]:
word_count('МРТ на Менделеевской от 2000')

5

In [36]:
# функцию непосредственно прописываем в методе apply
stats['word_count'] = stats['phrase'].apply(lambda word: len(word.split(' ')))
stats.head()

,group,phrase,effect,ad_id,title,text,link,word_count
0,мрт менделеевская,"""!мрт !менделеевская""",4.5,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,2
1,мрт цао,"""мрт менделеевская""",4.5,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,2
2,мрт цао,мрт менделеевская -головы -позвоночника -сдела...,7.4,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,6
3,мрт цао,"""!мрт !цао""",5.0,2101704999,МРТ в ЦАО от 2000₽. Звоните!,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,2
4,мрт сао,"""мрт цао""",5.0,2101704999,МРТ в ЦАО от 2000₽. Звоните!,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,2

In [38]:
# вариант с передачей всей строчки функции
# тут надо обязательно указать параметр axis = 1

stats['word_count'] = stats.apply(lambda row: len(row['phrase'].split(' ')), axis=1)
stats.head()

,group,phrase,effect,ad_id,title,text,link,word_count
0,мрт менделеевская,"""!мрт !менделеевская""",4.5,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,2
1,мрт цао,"""мрт менделеевская""",4.5,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,2
2,мрт цао,мрт менделеевская -головы -позвоночника -сдела...,7.4,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,6
3,мрт цао,"""!мрт !цао""",5.0,2101704999,МРТ в ЦАО от 2000₽. Звоните!,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,2
4,мрт сао,"""мрт цао""",5.0,2101704999,МРТ в ЦАО от 2000₽. Звоните!,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,2

### Произвольные функции
В URL кампаний есть названия. С этим надо что-то делать

In [39]:
# обращение к индексу и значениям Series
res = stats.word_count.value_counts()
res

3     1129
4      529
2      189
5      137
6       84
7       38
8       30
9       12
10       6
12       2
21       1
17       1
11       1
Name: word_count, dtype: int64

In [40]:
res.index[0]

3

In [41]:
res.values[0]

1129

In [42]:
# пример ссылки
url = stats.loc[0, 'link']
url

'https://awesome-site.ru/?utm_source=yandex&utm_medium=cpc&utm_campaign=a825749b87&utm_content=dev_{device_type}'

In [44]:
from urllib import parse

In [45]:
parse.urlsplit('https://ya.ru/news/sport?search=footbal#abc')

# scheme - это протокол, https - с шифрованием
# netloc - дом'ен
# path - путь к файлу
# query - запрос с параметрами, которые говорят серверу, что делать
# fragment - якорь, раздел страницы (элемент разметки)

SplitResult(scheme='https', netloc='ya.ru', path='/news/sport', query='search=footbal', fragment='abc')

In [46]:
parsed = parse.urlsplit(url)
parsed

SplitResult(scheme='https', netloc='awesome-site.ru', path='/', query='utm_source=yandex&utm_medium=cpc&utm_campaign=a825749b87&utm_content=dev_{device_type}', fragment='')

In [ ]:
# можно конечно вручную
parsed.query.split('&')[2].split('=')[1]

In [48]:
# как доставать значения (через точку, это метод)
parsed.netloc

'awesome-site.ru'

In [47]:
parsed.query

'utm_source=yandex&utm_medium=cpc&utm_campaign=a825749b87&utm_content=dev_{device_type}'

In [49]:
params = parse.parse_qs(parsed.query) # returs a dictionary
params

{'utm_source': ['yandex'],
 'utm_medium': ['cpc'],
 'utm_campaign': ['a825749b87'],
 'utm_content': ['dev_{device_type}']}

In [50]:
# значение конкретной кампании
params['utm_campaign'][0]

'a825749b87'

In [51]:
# зачем тут везде списки?

url_with_doubles = 'https://awesome-site.ru/?a=1&a=2&a=3' # плохая практика

parsed = parse.urlsplit(url_with_doubles)
parse.parse_qs(parsed.query)

{'a': ['1', '2', '3']}

In [52]:
# оборачиваем все в функцию
# в качестве аргумента будет строка датафрейма

def campaign_name(row):
    """Получение названия кампании из ссылки внутри строки row"""

    parsed = parse.urlsplit(row['link'])
    params_dict = parse.parse_qs(parsed.query)

    return params_dict['utm_campaign'][0]

In [53]:
# проверяем датафрейм
stats.head()

,group,phrase,effect,ad_id,title,text,link,word_count
0,мрт менделеевская,"""!мрт !менделеевская""",4.5,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,2
1,мрт цао,"""мрт менделеевская""",4.5,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,2
2,мрт цао,мрт менделеевская -головы -позвоночника -сдела...,7.4,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,6
3,мрт цао,"""!мрт !цао""",5.0,2101704999,МРТ в ЦАО от 2000₽. Звоните!,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,2
4,мрт сао,"""мрт цао""",5.0,2101704999,МРТ в ЦАО от 2000₽. Звоните!,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,2

In [54]:
stats['campaign'] = stats.apply(campaign_name, axis=1)
stats.head()

,group,phrase,effect,ad_id,title,text,link,word_count,campaign
0,мрт менделеевская,"""!мрт !менделеевская""",4.5,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,2,a825749b87
1,мрт цао,"""мрт менделеевская""",4.5,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,2,a825749b87
2,мрт цао,мрт менделеевская -головы -позвоночника -сдела...,7.4,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,6,a825749b87
3,мрт цао,"""!мрт !цао""",5.0,2101704999,МРТ в ЦАО от 2000₽. Звоните!,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,2,9cc0c5f6ca
4,мрт сао,"""мрт цао""",5.0,2101704999,МРТ в ЦАО от 2000₽. Звоните!,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,2,9cc0c5f6ca

### Как передать в функцию несколько аргументов

In [55]:
# как передать несколько аргументов

def power_up(row, n):
    """Возводит значение столбца effect в степень n"""
    return row['effect'] ** n

In [56]:
# дополнительные параметры передаем справа от названия функции
stats['power_up'] = stats.apply(power_up, n=3, axis=1)
stats.head()

,group,phrase,effect,ad_id,title,text,link,word_count,campaign,power_up
0,мрт менделеевская,"""!мрт !менделеевская""",4.5,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,2,a825749b87,91.125
1,мрт цао,"""мрт менделеевская""",4.5,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,2,a825749b87,91.125
2,мрт цао,мрт менделеевская -головы -позвоночника -сдела...,7.4,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,6,a825749b87,405.224
3,мрт цао,"""!мрт !цао""",5.0,2101704999,МРТ в ЦАО от 2000₽. Звоните!,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,2,9cc0c5f6ca,125.000
4,мрт сао,"""мрт цао""",5.0,2101704999,МРТ в ЦАО от 2000₽. Звоните!,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,2,9cc0c5f6ca,125.000

### Упражнение
В наших данных есть много объявлений с услугой МРТ (в столбце group есть слово 'мрт') круглосуточно (в тексте объявления text есть '24 часа'). Отфильтруйте строки, в которых НЕ упоминается МРТ, но прием идет круглосуточно. Сколько таких строк в датасете?

In [ ]:
# в столбце group есть слово 'мрт'
# в тексте объявления text есть '24 часа'

In [57]:
def selection(row):
    if 'мрт' not in row['group'] and '24 часа' in row['text']:
        return True
    else:
        return False

In [60]:
stats['selection'] = stats.apply(selection, axis=1)
stats.head()

,group,phrase,effect,ad_id,title,text,link,word_count,campaign,power_up,selection
0,мрт менделеевская,"""!мрт !менделеевская""",4.5,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,2,a825749b87,91.125,False
1,мрт цао,"""мрт менделеевская""",4.5,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,2,a825749b87,91.125,False
2,мрт цао,мрт менделеевская -головы -позвоночника -сдела...,7.4,2101704995,МРТ на Менделеевской от 2000₽,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,6,a825749b87,405.224,False
3,мрт цао,"""!мрт !цао""",5.0,2101704999,МРТ в ЦАО от 2000₽. Звоните!,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,2,9cc0c5f6ca,125.000,False
4,мрт сао,"""мрт цао""",5.0,2101704999,МРТ в ЦАО от 2000₽. Звоните!,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,2,9cc0c5f6ca,125.000,False

In [64]:
stats['selection'].value_counts()

False    2120
True       39
Name: selection, dtype: int64

### Вариант препода

In [67]:

(stats # скобки позволяют переносить на новые строки
.apply(lambda row: 
       'мрт' not in row['group'] 
       and '24 часа' in row['text'], 
       axis = 1)
.value_counts()
)

False    2120
True       39
dtype: int64

# Группировки

In [ ]:
# полезные методы: rolling mean, cumsum

In [68]:
df = pd.DataFrame({'order_id': [1, 2, 3, 4, 5], 'country': ['Россия', 'Китай', 'Китай', 'Россия', 'Россия'], 
                   'category': ['Электроника', 'Авто', 'Электроника', 'Авто', 'Авто'], 
                   'amount': [100, 80, 90, 140, 90]})
df

   order_id country     category  amount
0         1  Россия  Электроника     100
1         2   Китай         Авто      80
2         3   Китай  Электроника      90
3         4  Россия         Авто     140
4         5  Россия         Авто      90

In [78]:
df.country.unique()

array(['Россия', 'Китай'], dtype=object)

Создадим датафрейм df_russia, в котором оставим заказы из России. И аналогично df_china (заказы из Китая).

Посчитаем для df_russia и df_china:
- среднюю стоимость заказа и сумму всех заказов
- разницу между максимальной и минимальной стоимостью заказа

In [79]:
df_russia = df[df.country == 'Россия']
print(df_russia['amount'].mean(), df_russia['amount'].sum())

110.0 330

In [77]:
df_china = df[df.country == 'Китай']
print(df_china['amount'].mean(), df_china['amount'].sum())

85.0 170

In [83]:
df_russia.amount.max() - df_russia.amount.min()

50

In [84]:
df_china.amount.max() - df_china.amount.min()

10

Объединим процесс разбиения на датафреймы

In [85]:
def groupby_function(data):
    return data.amount.max() - data.amount.min()

In [86]:
# применяем не сразу, а сначала группируем по странам
df.groupby('country').apply(groupby_function)

country
Китай     10
Россия    50
dtype: int64

Вернемся к статистике рекламных кампаний

In [87]:
# раньше использовали value_counts

stats['campaign'].value_counts().head()

7f35591a28    456
8e77a0e565    348
2cc2e7d770    240
f6d2ae1e3d    220
e90f4db55a    218
Name: campaign, dtype: int64

In [88]:
# более универсальный способ
# применяет ко всем столцам, для которых это имеет смысл

stats.groupby('campaign').count().head()

,group,phrase,effect,ad_id,title,text,link,word_count,power_up,selection
campaign,,,,,,,,,,
034ada41b6,3,3,3,3,3,3,3,3,3,3
03fcaecd1d,2,2,2,2,2,2,2,2,2,2
0697a81555,2,2,2,2,2,2,2,2,2,2
08cdcb57a3,3,3,3,3,3,3,3,3,3,3
0f0ba311fb,2,2,2,2,2,2,2,2,2,2

In [89]:
# с фильтром
stats.groupby('campaign').count()[['group', 'effect']].head()

            group  effect
campaign
034ada41b6      3       3
03fcaecd1d      2       2
0697a81555      2       2
08cdcb57a3      3       3
0f0ba311fb      2       2

### Как вернуть столбец из индекса - метод reset_index()

In [90]:
# столбец снова становится просто столбцом
stats.groupby('campaign').count().reset_index().head()

,campaign,group,phrase,effect,ad_id,title,text,link,word_count,power_up,selection
0,034ada41b6,3,3,3,3,3,3,3,3,3,3
1,03fcaecd1d,2,2,2,2,2,2,2,2,2,2
2,0697a81555,2,2,2,2,2,2,2,2,2,2
3,08cdcb57a3,3,3,3,3,3,3,3,3,3,3
4,0f0ba311fb,2,2,2,2,2,2,2,2,2,2

### К группировке можно применять разные функции такие образом:

In [91]:
obj = stats.groupby('campaign')

In [93]:
type(obj)

pandas.core.groupby.generic.DataFrameGroupBy

In [92]:
obj.max().head() # максимальное значение каждой группы (вкл строки)

,group,phrase,effect,ad_id,title,text,link,word_count,power_up,selection
campaign,,,,,,,,,,
034ada41b6,в недорого москва мрт,в москве открытого типа адрес мрт -цена,9.0,2428554779,Адрес МРТ открытого типа в Москве,24 часа. От 2 000₽. Консультация врача бесплат...,https://awesome-site.ru/?utm_source=yandex&utm...,7,729.000,False
03fcaecd1d,сделать мрт сущевский вал,сделать мрт стромынка,6.5,2101705759,Сделайте МРТ на ул. Стромынка!,24 часа. От 2 000₽. Консультация врача бесплат...,https://awesome-site.ru/?utm_source=yandex&utm...,3,274.625,False
0697a81555,мрт позвоночника сущевский вал,мрт позвоночника стромынка,5.5,2101706415,МРТ позвоночника на ул. Стромынка,24 часа. От 2 000₽. Консультация врача бесплат...,https://awesome-site.ru/?utm_source=yandex&utm...,3,166.375,False
08cdcb57a3,мрт сао,мрт сао -головы -москве -позвоночника -сделать...,7.4,2101705000,МРТ в САО от 2000₽. Звоните!,24 часа. МРТ в день обращения. Консультация вр...,https://awesome-site.ru/?utm_source=yandex&utm...,7,405.224,False
0f0ba311fb,сделать мрт октябрьский,сделать мрт новослободская,6.4,2101705726,Сделайте МРТ на Новослободской,24 часа. От 2 000₽. Консультация врача бесплат...,https://awesome-site.ru/?utm_source=yandex&utm...,3,262.144,False

In [94]:
obj.mean().head() # только для числовых значений

              effect         ad_id  word_count    power_up  selection
campaign
034ada41b6  7.200000  2.428555e+09    6.333333  470.682000        0.0
03fcaecd1d  5.250000  2.101706e+09    3.000000  169.312500        0.0
0697a81555  4.750000  2.101706e+09    3.000000  115.187500        0.0
08cdcb57a3  6.133333  2.101705e+09    3.666667  245.991333        0.0
0f0ba311fb  5.400000  2.101706e+09    3.000000  173.664000        0.0

Для каждой кампании campaign найдем минимальное значение столбца effect и построим рейтинг кампаний по этим значениям, начиная с самого низкого.

In [109]:
stats.groupby('campaign').agg({'effect': 'min'}).sort_values('effect').head()

            effect
campaign
8e77a0e565     1.6
7f35591a28     1.7
be97523396     1.8
d96029561c     1.8
acc3077e55     1.9

### Несколько функций в группировках

In [95]:
# задаем несколько функций сразу (как значения списка)
# можно использовать и 


stats.groupby('campaign').agg(['min', 'max']) # ['effect'].head()

                                        group                                  \
                                          min                             max
campaign
034ada41b6  в москве открытого типа адрес мрт           в недорого москва мрт
03fcaecd1d          сделать мрт сущевский вал       сделать мрт сущевский вал
0697a81555     мрт позвоночника сущевский вал  мрт позвоночника сущевский вал
08cdcb57a3                 мрт в москве в сао                         мрт сао
0f0ba311fb            сделать мрт октябрьский         сделать мрт октябрьский
...                                       ...                             ...
f6d2ae1e3d            мрт головы алексеевская       мрт позвоночника градская
f80e902d76                    цмрт сокольники                 цмрт сокольники
fbed7afb58                 москва мрт платный                москва мрт плечо
fe6fa9154a          мрт позвоночника строгино       мрт позвоночника строгино
fedd9b9cc0                  мрт цена парковая               мрт цена парковая

                                               phrase  \
                                                  min
campaign
034ada41b6  "!в !москве !открытого !типа !адрес !мрт"
03fcaecd1d                    "сделать мрт стромынка"
0697a81555               "мрт позвоночника стромынка"
08cdcb57a3                                "!мрт !сао"
0f0ba311fb               "сделать мрт новослободская"
...                                               ...
f6d2ae1e3d                  "мрт головы алексеевская"
f80e902d76                         цмрт менделеевская
fbed7afb58                    "!москва !мрт !платный"
fe6fa9154a              "мрт позвоночника сокольники"
fedd9b9cc0                          "мрт цена палиха"

                                                              effect       \
                                                          max    min  max
campaign
034ada41b6            в москве открытого типа адрес мрт -цена    4.1  9.0
03fcaecd1d                              сделать мрт стромынка    4.0  6.5
0697a81555                         мрт позвоночника стромынка    4.0  5.5
08cdcb57a3  мрт сао -головы -москве -позвоночника -сделать...    5.5  7.4
0f0ba311fb                         сделать мрт новослободская    4.4  6.4
...                                                       ...    ...  ...
f6d2ae1e3d                                    мрт головы юзао    1.9  7.9
f80e902d76                                 цмрт менделеевская    3.3  3.3
fbed7afb58                                 москва мрт платный    3.8  8.6
fe6fa9154a                        мрт позвоночника сокольники    3.7  4.7
fedd9b9cc0                                    мрт цена палиха    3.6  4.6

                 ad_id                                          title  \
                   min         max                                min
campaign
034ada41b6  2428554779  2428554779  Адрес МРТ открытого типа в Москве
03fcaecd1d  2101705759  2101705759     Сделайте МРТ на ул. Стромынка!
0697a81555  2101706415  2101706415  МРТ позвоночника на ул. Стромынка
08cdcb57a3  2101705000  2101705000       МРТ в САО от 2000₽. Звоните!
0f0ba311fb  2101705726  2101705726     Сделайте МРТ на Новослободской
...                ...         ...                                ...
f6d2ae1e3d  2101706044  2101706290       МРТ головы в Москве от 2000₽
f80e902d76  2101705003  2101705003    ЦМРТ на Менделеевской. Звоните!
fbed7afb58  2428555831  2428555831     Платный МРТ в Москве. От 2000₽
fe6fa9154a  2101706410  2101706410    МРТ позвоночника в Сокольниках!
fedd9b9cc0  2101705983  2101705983   МРТ на ул. Палиха: цены от 2000₽

                                               \
                                          max
campaign
034ada41b6  Адрес МРТ открытого типа в Москве
03fcaecd1d     Сделайте МРТ на ул. Стромынка!
0697a81555  МРТ позвоночника на ул. Стромынка
08cdcb57a3       МРТ в САО от 2000₽. Звоните!
0f0ba311fb     Сделайте МРТ на Новослободской
...                                       ...
f6d2ae1e3d       МРТ головы в Москве от 2000₽
f80e902d76    ЦМРТ на Менделеевской. Звоните!
fbed7afb58     Платный МРТ в Москве. От 2000₽
fe6fa9154a    МРТ позвоночника в Сокольниках!
fedd9b9cc0   МРТ на ул. Палиха: цены от 2000₽

                                                         text  \
                                                          min
campaign
034ada41b6  24 часа. От 2 000₽. Консультация врача бесплат...
03fcaecd1d  24 часа. От 2 000₽. Консультация врача бесплат...
0697a81555  24 часа. От 2 000₽. Консультация врача бесплат...
08cdcb57a3  24 часа. МРТ в день обращения. Консультация вр...
0f0ba311fb  24 часа. От 2 000₽. Консультация врача бесплат...
...                                                       ...
f6d2ae1e3d  24 часа. МРТ в день обращения. Консультация вр...
f80e902d76  24 часа. От 2 000₽. Консультация врача бесплат...
fbed7afb58  24 часа. МРТ в день обращения. Консультация вр...
fe6fa9154a  24 часа. От 2 000₽. Консультация врача бесплат...
fedd9b9cc0  24 часа. МРТ в день обращения. Консультация вр...

                                                               \
                                                          max
campaign
034ada41b6  24 часа. От 2 000₽. Консультация врача бесплат...
03fcaecd1d  24 часа. От 2 000₽. Консультация врача бесплат...
0697a81555  24 часа. От 2 000₽. Консультация врача бесплат...
08cdcb57a3  24 часа. МРТ в день обращения. Консультация вр...
0f0ba311fb  24 часа. От 2 000₽. Консультация врача бесплат...
...                                                       ...
f6d2ae1e3d  24 часа. МРТ в день обращения. Консультация вр...
f80e902d76  24 часа. От 2 000₽. Консультация врача бесплат...
fbed7afb58  24 часа. МРТ в день обращения. Консультация вр...
fe6fa9154a  24 часа. От 2 000₽. Консультация врача бесплат...
fedd9b9cc0  24 часа. МРТ в день обращения. Консультация вр...

                                                         link  \
                                                          min
campaign
034ada41b6  https://awesome-site.ru/?utm_source=yandex&utm...
03fcaecd1d  https://awesome-site.ru/?utm_source=yandex&utm...
0697a81555  https://awesome-site.ru/?utm_source=yandex&utm...
08cdcb57a3  https://awesome-site.ru/?utm_source=yandex&utm...
0f0ba311fb  https://awesome-site.ru/?utm_source=yandex&utm...
...                                                       ...
f6d2ae1e3d  https://awesome-site.ru/?utm_source=yandex&utm...
f80e902d76  https://awesome-site.ru/?utm_source=yandex&utm...
fbed7afb58  https://awesome-site.ru/?utm_source=yandex&utm...
fe6fa9154a  https://awesome-site.ru/?utm_source=yandex&utm...
fedd9b9cc0  https://awesome-site.ru/?utm_source=yandex&utm...

                                                              word_count      \
                                                          max        min max
campaign
034ada41b6  https://awesome-site.ru/?utm_source=yandex&utm...          6   7
03fcaecd1d  https://awesome-site.ru/?utm_source=yandex&utm...          3   3
0697a81555  https://awesome-site.ru/?utm_source=yandex&utm...          3   3
08cdcb57a3  https://awesome-site.ru/?utm_source=yandex&utm...          2   7
0f0ba311fb  https://awesome-site.ru/?utm_source=yandex&utm...          3   3
...                                                       ...        ...  ..
f6d2ae1e3d  https://awesome-site.ru/?utm_source=yandex&utm...          3   5
f80e902d76  https://awesome-site.ru/?utm_source=yandex&utm...          2   2
fbed7afb58  https://awesome-site.ru/?utm_source=yandex&utm...          3   3
fe6fa9154a  https://awesome-site.ru/?utm_source=yandex&utm...          3   3
fedd9b9cc0  https://awesome-site.ru/?utm_source=yandex&utm...          3   3

           power_up          selection
                min      max       min    max
campaign
034ada41b6   68.921  729.000     False  False
03fcaecd1d   64.000  274.625     False  False
0697a81555   64.000  166.375     False  False
08cdcb57a3  166.375  405.224     False  False
0f0ba311fb   85.184  262.144     False  False
...             ...      ...       ...    ...
f6d2ae1e3d    6.859  493.039     False  False
f80e902d76   35.937   35.937     False  False
fbed7afb58   54.872  636.056     False  False
fe6fa9154a   50.653  103.823     False  False
fedd9b9cc0   46.656   97.336     False  False

[115 rows x 20 columns]

In [96]:
stats.groupby('campaign').agg(['min', 'max'])['effect']['max'].head()

campaign
034ada41b6    9.0
03fcaecd1d    6.5
0697a81555    5.5
08cdcb57a3    7.4
0f0ba311fb    6.4
Name: max, dtype: float64

In [98]:
# разные метрики для разных столбцов (свои собственные функции)
# для столбца 'effect' - min, max; для столбца 'power_up' - mean

results = stats.groupby('campaign').agg({'effect': ['min', 'max'], 'power_up': 'mean'})
results.head()

           effect         power_up
              min  max        mean
campaign
034ada41b6    4.1  9.0  470.682000
03fcaecd1d    4.0  6.5  169.312500
0697a81555    4.0  5.5  115.187500
08cdcb57a3    5.5  7.4  245.991333
0f0ba311fb    4.4  6.4  173.664000

### Как обращаться к вложенным столбцам

In [99]:
results['effect']['max'].head()

campaign
034ada41b6    9.0
03fcaecd1d    6.5
0697a81555    5.5
08cdcb57a3    7.4
0f0ba311fb    6.4
Name: max, dtype: float64

In [103]:
results['effect']['max'].index[0]

'034ada41b6'

In [104]:
results['effect']['max'].values[0]

9.0

In [102]:
type(results['effect']['max'].head())

pandas.core.series.Series

In [101]:
# или даже так
stats.groupby('campaign').agg({'effect': ['min', 'max'], 'power_up': 'mean'})['effect']['max'].head()

campaign
034ada41b6    9.0
03fcaecd1d    6.5
0697a81555    5.5
08cdcb57a3    7.4
0f0ba311fb    6.4
Name: max, dtype: float64

In [100]:
# группировка по нескольким столбцам

stats.groupby(['group', 'campaign']).count().head()

                                 phrase  effect  ad_id  title  text  link  \
group                campaign
1 5 москва мрт тесла 777160ba51       1       1      1      1     1     1
                     8e77a0e565       1       1      1      1     1     1
                     f0079349af       1       1      1      1     1     1
1 градская мрт       7f35591a28       3       3      3      3     3     3
1 мрт нагатинский    8e77a0e565       1       1      1      1     1     1

                                 word_count  power_up  selection
group                campaign
1 5 москва мрт тесла 777160ba51           1         1          1
                     8e77a0e565           1         1          1
                     f0079349af           1         1          1
1 градская мрт       7f35591a28           3         3          3
1 мрт нагатинский    8e77a0e565           1         1          1

In [105]:
# максимальное число объявлений в одной группе

stats.groupby(['group', 'campaign']).count().sort_values('phrase', ascending=False).head()

,,phrase,effect,ad_id,title,text,link,word_count,power_up,selection
group,campaign,,,,,,,,,
мрт на алексеевской кулаков переулок 13,7f35591a28,3,3,3,3,3,3,3,3,3
мрт каширское шоссе,7f35591a28,3,3,3,3,3,3,3,3,3
мрт кутузовский,7f35591a28,3,3,3,3,3,3,3,3,3
мрт куркинское шоссе 30,7f35591a28,3,3,3,3,3,3,3,3,3
мрт куркино,7f35591a28,3,3,3,3,3,3,3,3,3