# Домашнее задание «Библиотека Pandas»

In [2]:
import pandas as pd

## Задание 1

In [3]:
ratings = pd.read_csv(r'C:\Users\dmvma\Downloads\ml-latest\ratings.csv')

In [4]:
five_rated = ratings[ratings.rating == 5.0]
five_rated.groupby('movieId').count().sort_values('rating', ascending = False).head()

         userId  rating  timestamp
movieId
318       48762   48762      48762
296       37458   37458      37458
356       32009   32009      32009
260       31385   31385      31385
593       30280   30280      30280

In [6]:
five_rated.groupby('movieId').count().sort_values('rating', ascending = False).index[0]

318

In [8]:
movies = pd.read_csv(r'C:\Users\dmvma\Downloads\ml-latest\movies.csv')
movies[movies.movieId == 318]

     movieId                             title       genres
315      318  Shawshank Redemption, The (1994)  Crime|Drama

In [9]:
movies.loc[315, 'title']

'Shawshank Redemption, The (1994)'

## Задание 2

In [3]:
power = pd.read_csv(r'../data/power.csv')

In [4]:
power_f = power[(power.quantity >= 0) & (power.year >= 2010) & (power.year <= 2010) & ((power.category == 4) | (power.category == 12) | (power.category == 21))]
power_f.head()

        country  year  quantity  category
9838  Swaziland  2010      0.18         4
9855   Colombia  2010      2.35         4
9862     Canada  2010     32.00         4
9876   Colombia  2010      1.41         4
9882   Colombia  2010     10.73         4

In [6]:
# option 1
power_B = power_f[(power_f.country == 'Latvia') | (power_f.country == 'Lithuania') | (power_f.country == 'Estonia')]
power_B['quantity'].sum()

38861.0

In [8]:
# option 2 for selecting certain countries (returns only 'country' series)
power_B_2 = power_f.country.isin(['Latvia', 'Estonia', 'Lithuania'])
len(power_B_2)

3830

In [9]:
power_B_2.head()

9838    False
9855    False
9862    False
9876    False
9882    False
Name: country, dtype: bool

## Задание 3

In [9]:
df = pd.read_html('https://www.tinkoff.ru/invest/bonds/')[0]
df.head()

,Название,Доходность,Дата,Цена
0,ГГарант-Инвест БО 001P-05RU000A1005T9,"14,89%",05 апреля 2024через 4 года,"928,22 ₽"
1,ККарМани выпуск 2RU000A0ZZ1F6,"14,73%",10 июня 2022через 2 года,"1 030,3 ₽"
2,ФФлай Плэнинг БО-П3RU000A101178,"14,3%",10 ноября 2022через 2 года,"1 014,5 ₽"
3,ТТД РКС-Сочи выпуск 1RU000A101PV6,"14,22%",23 мая 2023через 3 года,"1 009,9 ₽"
4,ФФлай Плэнинг БО-П2RU000A100K64,"14,15%",06 июля 2022через 2 года,"1 020,8 ₽"